.DivLink{
    position:relative;
    width:600px;
    height:200px;
    border:3px solid #000000;
}

.DivLink .Link{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.list001{
    width: 65%;
    display: inline-block;
}

.div1{
    left: 100px;
}

.div2{
    left: 950px; bottom: 311px;
}

img{
    width: 35%;height: 100%;
}

.tit01{
   position: relative;
   left: 170px;
   font-size: 30px;
}

.tit02{
    position: relative;
    left: 1000px; bottom: 308px;
    font-size: 30px;
}

@media screen and (max-width: 768px) 
{
    body{
        zoom:0.93
    }
.div1{left: 0px;}

.div2{
    left: 0px;
    top: 250px;
}

.DivLink{
    position:relative;
    width:400px;
    height:150px;
    border:3px solid #000000;
}

img{
    width: 35%;
    height: 100%;
    display: flex;
}

.tit01{
    position: relative;
    left: 0px;
    font-size: 25px;
 }
 
 .tit02{
     position: relative;
     left:  0px; top: 250px;
     font-size: 24px;
     white-space: nowrap;
 }  

.list001{
    position: relative;
    left: 141px;
    bottom: 160px;
    line-height: 1;

}

}
 
 @media screen and (max-width: 480px) 
 {
    body{
        zoom:0.94
    }
.div1{left: 0px;}

.div2{
    left: 0px;
    top: 250px;
}

.DivLink{
    position:relative;
    width:400px;
    height:150px;
    border:3px solid #000000;
}

img{
    width: 35%;
    height: 100%;
    display: flex;
}

.list001{
    position: relative;
    left: 141px;
    bottom: 160px;
    line-height: 1;

}
 }